apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-demo-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kobimm1/demo-argo.git
    targetRevision: HEAD
    path: my-demo-app
  destination:
    server: "https://kubernetes.default.svc"
    namespace: env0001
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true